@{
    ViewBag.Title = "Home Page";
}

<div class="body-wrapper">
    <div class="container">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-inner">
                        @*<div class="col-sm-10 col-sm-offset-1 on-top-of-carousel">

                            </div>*@
                        <div class="item active" style="background-image: url(http://localhost/StudentDormitoryManagementSystem/Content/Images/pokana.png)">
                            <div class="info">
                                <h2 class="news-title">
                                    <a class="news-link">Покана за национална конференция</a>
                                </h2>
                                <p>
                                    <h5>Настоящата конференция е част от проекта...</h5>
                                </p>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(http://localhost/StudentDormitoryManagementSystem/Content/Images/we-succeeded.png)">
                            <div class="info">
                                <h2 class="news-title">
                                    <a class="news-link">Ние успяваме!</a>
                                </h2>
                                <p>
                                    <h5>Винаги се стремим към най-доброто...</h5>
                                </p>
                            </div>
                        </div>
                        <div class="item" style="background-image: url(http://localhost/StudentDormitoryManagementSystem/Content/Images/ksk.png)" )">
                            <div class="info">
                                <h2 class="news-title">
                                    <a class="news-link">Кандидатстудентска кампания 2019</a>
                                </h2>
                                <p>
                                    <h5>Защото това е най-големият универститет в страната...</h5>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>