<div class="col-md-4">
    <h2 id="adminPageTitle" class="text-center" style="color:green;">Profile</h2>
    <div id="sidebar" class="well sidebar-nav">
        <h5>
            <i class="glyphicon glyphicon-home"></i>
            <small><b>MANAGEMENT</b></small>
        </h5>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/profile/profile">Home</a></li>
            <li><a>My info</a></li>
        </ul>
    </div>
</div>
<div class="col-md-8">
    <!-- Content Here -->
</div>